.container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
    .square{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        &:hover{
            cursor: pointer;
        }
    }
    
}

.screen{
    .inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .button-row{
        display: flex;
        width: 150px;
        justify-content: space-between;
        button{
            padding: 0 16px;
        }
    }
}


.marker{
    font-size: 68px;
}